<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Logo -->
    <link rel="icon" href="../assets/img/iconWeb.png" type="image/icon type">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memorials</title>

</head>
    
<body>

    <header>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Contacto</a></li>
                
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1>Memorials</h1>
            <p>No debes olvidar a tus seres queridos</p>


            <div id="subirImagen">
                <form action="upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" id="file">
                    <br>
                    <input type="submit" value="Subir imagen" name="submit">
                </form>
            </div>
        </section>
    </main>
    
    
</body>
</html>

