<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juanito Alcachofas</title>

    <!-- Logo -->
    <link rel="icon" type="image/png" href="../assets/img/iconWeb.png">

    <!-- Estilos internos -->
    <link rel="stylesheet" href="../css/views/ownTemplate.css">
    <link href="https://fonts.cdnfonts.com/css/akzidenzgrotesk" rel="stylesheet">
                
</head>
<body>

    <nav class="menuPetown">
        <ul>
            <li><a href="#">Incio</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#endPetown">Contacto</a></li>
        </ul>

    </nav>

    <aside class="markPetown">
        <div class="mainAside">

        </div>
        
    </aside>
    
    <header>

    </header>

    <section>
        
        
        <div class="mainBack">


            <div class="infoProfile">
                
            </div>

            <div class="infoPet">
                <div class="textPet">
                    <h2>Salem</h2>
                    <p>Rasa: Bengalí </p>
                    <p>Edad: 2 años</p>
                    <p>Sexo: Macho</p>
                    <p>Color: Negro</p>                    
                </div>

                <div class="imgPet">

                    <div class="logoTypePet">
                        <p>Minino</p>
                    </div>
                </div>

            </div>
            
            <div class="address">
                <div class="imgAddress">
                    <a href="https://maps.app.goo.gl/tYsN1UUhjerWpvxe6" target="_blank">
                        <div class="link-content"></div>
                    </a>
                </div>
            </div> 

        </div>

    </section>

    
    
    
</body>
</html>