<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juanito Alcachofas</title>

    <!-- Logo -->
    <link rel="icon" type="image/png" href="../assets/img/iconWeb.png">

    <!-- Estilos internos -->
    <link rel="stylesheet" href="../css/views/ownTemplate.css">
</head>
<body>
    <div class="fondo">

        <div class="pruebaImagen">
            <img src="../assets/img/testProfile.png" alt="alcachofas" class="pruebaImagen">
        </div>
        
    </div>
    
</body>
</html>